/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.famous-punk-bands-table {
	width: 100%;
}

#fpbtable-body {
	color: black;
	background-image: url("https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fnoise.png");
	background-color: #000000;
}

#fpbtable-body-odd {
	background-color: #ff33cc;
}

#fpbtable-body {
	background-color: #e495e4;
}

/*color: aqua;*/
